@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@layer base {
    html {
      height: -webkit-fill-available;
    }
  
    body {
      height: -webkit-fill-available;
    }
  
    /* If using React, set height on the root div as well */
    #root {
      height: -webkit-fill-available;
    }
  }

